/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Atma', cursive; */
/* font-family: 'Bagel Fat One', cursive; */
/* font-family: 'Balsamiq Sans', cursive; */
/* font-family: 'Caveat', cursive; */
/* font-family: 'Cherry Bomb One', cursive; */
/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Satisfy', cursive; */
/* font-family: 'Nunito', sans-serif; */

:root {
    --gradient-1: linear-gradient(135deg, #FFD3A5 20%, #FD6585 100%);
    --gradient-2: linear-gradient(315deg, #8EC5FC 0%, #E0C3FC 100%);
    --gradient-3: linear-gradient(210deg, #74EBD5 0%, #f7e8ad 100%);
    --gradient-4: linear-gradient(214deg, #8ee9f1 20%, #797cff 100%);

    /* Color palette */
    --yellow: #fbdb38;
    --blue: #60bfc9;
    --blue-subtle: #c0e3eb; 
}


* {
    font-family: 'Comfortaa', cursive;
}


#root {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: 'Atma', cursive;
    font-size: 4rem !important;
}

h1 {
    font-weight: 700;
}


nav {
    background-color: rgba(255, 255, 255, 0.799);
    /* min-height: 15vh; */
}

/* Icon navbar active */
.nav-link.active i.fas {
    color: var(--blue);
}

.nav-link:hover i.fas {
    color: var(--blue);
}


.bg-blue-subtle {
    background-color: var(--blue-subtle);
}

.bg-yellow {
    background-color: var(--yellow);
}


.bg-gray-subtle {
    background-color: #f8f9fa;
}

.btn.bg-yellow:is(:hover) {
    background-color: #f8cf00 !important;
}

.btn.bg-blue-subtle:is(:hover) {
    background-color: var(--blue-subtle) !important;
}


section, .loading-container {
    min-height: 85vh;
}


.row {
    /* height: max-content; */
    margin: 0;
    padding: 0;
    min-height: inherit;
}


/* Cards background */
.card-title {
    font-family: 'Nunito', sans-serif;
}

.card-container {
    position: relative;
    padding-top: 20px;
}

.card-container::before {
    background-image: var(--gradient-1);
    border-radius: 32px;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    bottom: 20px;
    left: -20px;
    right: 32px;
    content: '';
}


.row .col:nth-child(2n) .card-container::before {
    background-image: var(--gradient-2);
}

.row .col:nth-child(3n) .card-container::before {
    background-image: var(--gradient-3);

}

.row .col:nth-child(4n) .card-container::before {
    background-image: var(--gradient-4);
}

/* Flip card when hover */
.card-container:hover .card {
    transform: rotateY(180deg);
}

.card {
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flip-front,
.flip-back {
    /* height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-back {
    transform: rotateY(180deg);
    position: absolute;
}

/* Card size */
@media only screen and (min-width: 1201px) {

    .card-container,
    .card {
        min-height: 350px;
    }
}

@media only screen and (max-width: 1200px) {

    .card-container,
    .card {
        min-height: 200px;
    }
}

@media only screen and (max-width: 425px) {

    .card-container,
    .card {
        min-height: 300px;
    }
}

/* Footer */
.bg-blue {
    background-color: var(--blue);
}

.footer-title {
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

.footer-title span {
    font-family: 'Anton', sans-serif;
    position: relative;
}

.footer-title span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 110%;
    background: var(--yellow);
    border-radius: 50em;

}

@media only screen and (max-width: 767px) {

    .footer-title span:after {
        width: 100%;
    }
}

.social-icons {
    width: 50px;
    height: 50px;
    outline: 2px solid white;
    transition: all .1s;
}

.social-icons:hover {
    outline-offset: 4px;
}

.social-icons.twitter:hover {
    background-color: var(--blue);
    outline-color: var(--blue);
}

.social-icons.facebook:hover {
    background-color: #2050b3;
    outline-color: #2050b3;
}

.social-icons.instagram:hover {
    background-image: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    outline-color: #9b36b7;
}

.social-icons.mail:hover {
    background-color: #c71610;
    outline-color: #c71610;
}

/* Publicar */
.leaflet-container {
    width: 100%;
    height: 400px;
}

#buscarMap .leaflet-container{
    height: 700px;
}

.bi.bi-info-circle {
    cursor: pointer;
}

.popover {
    max-width: 300px;
}

.small {
    font-size: .8rem;
}

.disabled-link {
    pointer-events: none;
    opacity: .5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Colab page */
.border-blue-subtle{
    border-color: var(--blue)  !important;
}

.card.card-payment{
    width: 18rem !important;
}
.img-top{
    width: 100%;
    height: 10rem;
}

.img-top .card-img-top{
    width: 100%;
    height: 100%;
}

.leaflet-popup-content{
    width: 180px !important;
}


.card-image{
    height: 200px;
}

.btn.bg-blue-subtle:hover{
    background-color: var(--blue) !important;
    color: white;
}