:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* CSS CARD EN PAGINA DE EXITO*/
.reportcont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.cartaReporte {
  display: flex;
  background-color: #FBBF24;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.25rem;
  gap: 2rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}


.headerContent {
  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
  border: 4px solid white;

}

.imageReport {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.titleReport {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;

  padding: 0.75rem;
  width: 100%;
  height: 100%;
  background-color: rgb(107, 202, 208);
}

.contentContainer {
  display: flex;
  padding: 1.5rem;
  background-color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  gap: 1rem;

}

.datosContainer {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;

}

.direccionContainer {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;

}

.textoReport {
  color: black;
}

.botonReporte{
  width: 100%;
}

@media (min-width: 1024px) {
  .cartaReporte {
    width: 700px;
  }

  .heroContainer {
    height: 558px;
  }

  .direccionContainer {
    margin-left: 2rem;
  }

  .botonReporte {
    width: 700px;
  }
}

.leaflet-container{
  height: 600px;
}

.navbar {
  background: white;
  z-index: 40;
}